services:
  traefik:
    image: traefik:v3.2
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - edge
      - service
    ports:
      - "80:80"
      - "443:443"
    environment:
      - TZ=${TZ}
      - ACME_EMAIL=${ACME_EMAIL}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${APP_SERVICES_ROOT}/traefik/config/traefik.yml:/traefik.yml:ro
      - ${APP_SERVICES_ROOT}/traefik/config:/config:ro
      - ${APP_DATA_ROOT}/traefik/acme:/certs
      - ${APP_LOGS_ROOT}/traefik:/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik-dashboard.entrypoints=https"
      - "traefik.http.routers.traefik-dashboard.rule=Host(`${TRAEFIK_DOMAIN}`)"
      - "traefik.http.routers.traefik-dashboard.tls=true"
      - "traefik.http.routers.traefik-dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik-dashboard.service=api@internal"
      - "traefik.http.routers.traefik-dashboard.middlewares=traefik-auth"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_BASIC_AUTH}"

networks:
  edge:
    external: true
  service:
    external: true