services:
  adguard:
    image: adguard/adguardhome:${SERVICE_VERSION:-latest}
    container_name: ${SERVICE_NAME:-adguard}
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=${TZ}
    volumes:
      - ${SERVICE_DATA_PATH}/work:/opt/adguardhome/work
      - ${SERVICE_DATA_PATH}/conf:/opt/adguardhome/conf
    labels:
      - traefik.enable=true
      - traefik.http.routers.adguard.rule=Host(`${SERVICE_FULL_DOMAIN}`)
      - traefik.http.routers.adguard.entrypoints=websecure
      - traefik.http.routers.adguard.tls=true
      - traefik.http.routers.adguard.tls.certresolver=cloudflare-dns
      - traefik.http.services.adguard.loadbalancer.server.port=3000
      - traefik.http.services.adguard.loadbalancer.server.scheme=http