services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    networks:
      - edge
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "853:853/tcp"
    environment:
      - TZ=${TZ}
    volumes:
      - ../../../data/adguard/work:/opt/adguardhome/work
      - ../../../data/adguard/conf:/opt/adguardhome/conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard.entrypoints=https"
      - "traefik.http.routers.adguard.rule=Host(`${ADGUARD_DASHBOARD_DOMAIN}`)"
      - "traefik.http.routers.adguard.tls=true"
      - "traefik.http.routers.adguard.tls.certresolver=letsencrypt"
      - "traefik.http.services.adguard.loadbalancer.server.port=3000"

networks:
  edge:
    external: true